html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source sans Pro', sans-serif;
    background-color: #FAFAFA;
}

* {
  box-sizing: border-box;
}

/*========= Flexbox =========*/

nav, .logo {
    display: flex;
    align-items: center ;
    flex-direction: row;
}

.nav-links{
    display: flex;
    gap: 40px;
    align-items: center;
}

footer .foot{
    background-color: #202020;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}


/*========= Layout =========*/

nav{
    width: 100%;
    min-width: 320px;
    padding: 1.125em 1.375em;
    background-color: #FFFFFF;
    justify-content: flex-end;
}

.logo{
    gap: 8px;
    margin-right: auto;
}

.nav-links li{
    list-style: none;
}

.hero-section{
    border: 1px solid transparent;
    width:100%;
    height:293px;
    background: url('/images/article-image-hero.png') no-repeat center center;
    background-size: cover;
    min-width: 420px;
}

.hero-post{
    margin: 0 1.25em;
}

.hero-post .article-date-hero{
    width:50%;
    margin-top: 5.43em;
    margin-bottom: 0;
}

.hero-post .article-title-hero{
    margin: 0.5em 0;
}

.hero-post .article-pg-hero{
    width:100%
}

.container{
    margin: 1.68em auto;
    width:85%;
    display:grid;
    grid-gap: 2.56em;
}

.article-img{
    width:100%;
}

.article-date{
    margin-bottom: 0;
    margin-top: 0.875em; 
}

.article-title{
    margin: 0.562em 0;
}

.article-preview{
    margin: 0;
    line-height: 1.25;
}

/* .blog{
} */

.foot{
    padding: 2.31em 0;
}

.content-container{
    width: 85%;
    margin: 2em auto 3.18em auto;
}

.article-post-img{
    width:100%;
    margin: 2.18rem 0;
}

.article-date-post{
    margin-top:0
}

p{
    margin-bottom:0;
}

.highlight{
    margin-top:0;
}

.recent-post{
    text-align:center;
    margin:0;
}

.profile-pic{
    width: 182px;
    height: 182px;
    border-radius: 50%;
}

.userinfo-container{
    margin-bottom: 3.125em;
}

/*========= Font Styles =========*/

h1{
    font-family: 'Roboto', 'sans sarif';
    font-size: 1rem;
    font-weight: 800;
    color: #0E0E0E;
}

nav a {
    text-decoration: none;
}

a{
    font-size: 0.75rem;
    font-weight: 600;
    color: #090909;
}


.article-link, .hero-link-post{
    text-decoration: none;
}

.article-title-hero{
    font-size: 2rem;
    font-weight: 700;
}

.article-pg-hero{
    font-size: 1rem;
    font-weight: 400;
}

.article-date-hero{
    font-size: 0.75rem;
    font-weight: 400;
}

.article-date-hero,
.article-title-hero,
.article-pg-hero{
    color:#FFFFFF;
} 

.article-date{
    font-size:0.785rem;
    font-weight:400;
    color: #000000;
}

.article-title{
    font-size: 1.5rem;
    font-weight:800;
    color: #141414;
}

.article-preview{
    font-size: 1rem;
    font-weight:400;
    color:#505050;
}

h4{
    margin-bottom:0;
    font-weight:700;
    color: #ECECEC;
}

.copyright{
    margin-top:0;
    font-weight: 400;
    color: #D7D7D7;
}

h4, .copyright{
    font-size: 0.75rem;
}

.article-date-post,
.article-title-post,
p,
h3{
    color:#151515;
}

.article-date-post{
    font-size: 0.75rem;
    font-weight: 400;
}

.article-title-post{
    font-size: 2rem;
    font-weight: 700;
}

p{
    font-size: 1rem;
    font-weight: 400;
}

/*========= hover/active =========*/

nav a:hover, 
nav a:active{
    text-decoration: underline;
    cursor: pointer;
}

.blog:hover, 
.blog:active{
    background-color: lightgrey;
    border-radius: 5px;
}


/*========= Media queries =========*/

@media (min-width: 481px) {
    nav{
        padding: 1.5rem 3.31rem;
    }

    h1{
        font-size: 1.35rem;
        font-weight: 700;
    }

    a{
        font-size: 1rem;
        font-weight: 500;
    }

    a:hover{
        font-weight: 600;
    }

    .article-title-hero{
        font-size: 2.5rem;
    }

    .article-date, 
    .article-pg-hero{
        font-size: 1rem;
    }

    .hero-section{
        height:488px;
    }

    .hero-post{
        width: 70%;
        margin-left: 3.31rem;
        min-width: 500px;    
    }

    .hero-post .article-date-hero{
        margin-top: 18rem;
        margin-bottom:0;
    }

    .hero-post .article-title-hero{
        margin: 0.56rem 0;
    }

    .hero-post .article-pg-hero{
        margin-bottom: 4.81rem;
    }
    
    .container{
        grid-template-columns: repeat(3, 1fr);
        width:90%;
        column-gap: 1.625em ;
        row-gap: 2.875em;
    }

    .article-date{
        font-size: 0.875rem;
        font-weight:400;
    }

    .article-title{
        margin-top: 0.875em;
        margin-bottom:0.562em;
    }

    .article-preview{
        word-spacing: 4px;
    }

    .content-container{
        width:90%;
        margin-top: 4.43em;
        margin-bottom: 4.43em;
    }

    .sub-container{
        width:85%;
        margin: 0 auto;
    }

    .article-post-img{
        width:100%;
        margin: 2.25em 0;
    }

    p{
        font-size: 1em;
        font-weight: 400;
    }

    .userinfo-container{
        display: flex;
    }

    .unserinfo-container .profile-pic{
        width: 182px;
        height: 182px;
    }

    .userinfo-details{
        margin-left: 2.06em;
    }

    .userinfo-details .article-title-post{
        margin-bottom: 0.5em;
    }
}